<%- include('includes/head.ejs') %>

<body>
    <%- include('includes/header.ejs') %>

    회원번호 : <%= id %> <br/>
    이름 : <%= name %> <br/>
    전화번호 : <%= phoneNumber %> <br/>
    시작일 : <%= startdate %> <br/>
    종료일 : <%= enddate %> <br/>
    정보가 추가되었습니다.
</body>