<%- include('includes/head.ejs')%>

<link rel="stylesheet" href="../public/stylesheets/home.css" type="text/css">

<body>

  <%- include('includes/header.ejs') %>

  <div style="width:100%;margin: 20px;">
    <div style="width:50%;float:left;box-sizing: border-box;">
      <br /><br /><br />
      <h2>최근 출석자</h2><br />
      <%- include('memberInfo/guestInfoForManager.ejs') %><br />
      
    </div>
    <div style="width: 50%;float:left;box-sizing: border-box;">
      <br /><br /><br />
      <h2>?????</h2><br /><br />
      재상이 김치 이거 엄청 묵고 간데이<br />
      재상이 김치 이거 엄청 묵고 간데이<br />
      재상이 김치 이거 엄청 묵고 간데이<br />
      재상이 김치 이거 엄청 묵고 간데이<br />
      재상이 김치 이거 엄청 묵고 간데이<br />
      재상이 김치 이거 엄청 묵고 간데이<br />
      재상이 김치 이거 엄청 묵고 간데이<br />
      재상이 김치 이거 엄청 묵고 간데이<br />
    </div>
    <div style="clear:both">
      <h2>회원리스트</h2><br />
      <%- include('printInfos.ejs') %><br />
    </div>
  </div>
  <%- include('includes/footer.ejs') %>

</body>