<link rel="stylesheet" href="../../public/stylesheets/printInfos.css" type="text/css">

<body>
    <h3>회원정보</h3>
    <div>
        <table style="width:80%;" class="table">
            <tbody>
                <tr style="cursor:hand">
                    <td class="id text-center">회원번호</td>
                    <td class="name text-center"><%= member.id %></td>
                </tr>
                <tr style="cursor:hand">
                    <td class="id text-center">이름</td>
                    <td class="name text-center"><%= member.name %></td>
                </tr>
                <tr style="cursor:hand">
                    <td class="id text-center">전화번호</td>
                    <td class="name text-center"><%= member.phoneNumber %></member>
                    </td>
                </tr>
                <tr style="cursor:hand">
                    <td class="id text-center">종료일</td>
                    <td class="name text-center"><%= member.enddate %></td>
                </tr>
                <tr style="cursor:hand">
                    <td class="id text-center">남은기간</td>
                    <td class="name text-center"><%= restdate %></td>
                </tr>
                <tr style="cursor:hand">
                    <td class="id text-center">사물함기간</td>
                    <td class="name text-center"><%= member.duedate_box %></td>
                </tr>
            </tbody>
        </table>
    </div>
    <br /><br />
    <button onclick="location.href='/attend'">출석 메인</button>
</body>