<link rel="stylesheet" href="../../public/stylesheets/printInfos.css" type="text/css">
<%- include('../includes/head.ejs') %>

<body>
    <script>
        window.addEventListener("load", function () {
            var myval = '<%- eventList %>';

            var calendarEl = document.getElementById('calendarmem');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                headerToolbar: {
                    left: 'prev',
                    center: 'title',
                    right: 'next'
                },
                titleFormat: { year: 'numeric', month: '2-digit' } ,
                eventLimit: true,
                editable: false,
                navLinks: false,
                events: JSON.parse(myval),
                locale: 'ko',
                eventLimit: true,

            });
            calendar.render();
        });

    </script>

    <div style="margin:20px; display: flex; flex-direction: column;align-items: center;">

        <h3 style="margin-bottom: 20px;">회원정보</h3>

        <table style="width:80%;" class="table">
            <tbody>
                <tr style="cursor:hand;">
                    <td class="id text-center">회원번호</td>
                    <td class="name text-center"><%= member.id %></td>
                </tr>
                <tr style="cursor:hand">
                    <td class="id text-center">이름</td>
                    <td class="name text-center"><%= member.name %></td>
                </tr>
                <tr style="cursor:hand">
                    <td class="id text-center">전화번호</td>
                    <td class="name text-center"><%= member.phoneNumber %></member>
                    </td>
                </tr>
                <tr style="cursor:hand">
                    <td class="id text-center">시작일</td>
                    <td class="name text-center"><%= member.startdate %></td>
                </tr>
                <tr style="cursor:hand">
                    <td class="id text-center">종료일</td>
                    <td class="name text-center"><%= member.enddate %></td>
                </tr>
                <tr style="cursor:hand">
                    <td class="id text-center">남은기간</td>
                    <td class="name text-center"><%= restdate %></td>
                </tr>
            </tbody>
        </table> <br />

        <button onclick="location.href='/add-bodyinfo/<%=member.id %>'">몸무게 정보 추가하기</button><br />
    </div>

    

    <br /><br />
    <div style="font-size:10px;" id='calendarmem'>
    </div>
    <!--[출석정보] <br/>
    <div class="col-8">
        <div class="row row d-flex justify-content-center">
    <table class="table">
        <thead class="table-primary">
            <tr>
                <th class="text-center" scope="col" width="10%">번호</th>
                <th class="text-center" scope="col" width="90%">날짜시간</th>
              </tr>
            </thead>
            <tbody>
                <% days.forEach((day,idx) => { %>
                    <tr style="cursor:hand">
                        <td class="id text-center"><%= idx+1 %></td>
                        <td class="day text-center"><%= day.days %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
        
    
    </div>-->





</body>